.settings_page_spyrit-essentials-options {
  #wpcontent {
    margin-left: 140px;
  }
  #wpbody {
    .wrap {
      margin: 0;
    }
    h1 {
      background: #fff;
      padding: 30px 0;
      text-align: center;
      font-weight: bold;
      font-size: 33px;
      color: #484848;
      margin: 0 0 30px 0;
      span {
        font-size: 11px;
        color: #868686;
        font-weight: 100;
        font-style: italic;
      }
      img {
        width: 33px;
        margin: 0 20px 0 0;
      }
    }
    .notice, .error {
      display: none;
    }
    .notices-wrap {
      .notice, .error {
        display: block;
        max-width: 560px;
        margin: 0 auto 10px;
        box-sizing: border-box;
      }
    }
    .container {
      max-width: 560px;
      margin: auto;
      form {
        h2 {
          background: #fff;
          padding: 10px 15px;
          font-size: 15px;
          border-bottom: 2px solid #e2e2e2;
          margin: 15px 0 0 0;
        }
        input[type=text] {
          width: 100%;
          border: 0;
          background: #f3f3f3;
          border-radius: 0;
        }
        .icon:before {
          color: #c0392b;
          font-size: 19px;
          height: 18px;
        }
        table.form-table {
          background: #ffffff;
          margin: 0;
          th {
            padding: 20px 15px;
          }
        }
        .warning-section {
          background: rgb(192 57 43 / 10%);
          padding: 10px 15px;
          color: #000;
          p {
            margin: 0;
            padding-left: 30px;
            position: relative;
            line-height: 14px;
            .icon {
              position: absolute;
              left: 0;
              top: 4px;
            }
          }
        }
        p.submit {
          text-align: right;
        }
      }
      .copy {
        text-align: center;
        font-size: 11px;
        color: #7b7575;
        line-height: 12px;
      }
    }
  }
}